[Desktop Entry]
Name=PicoMotionshot
Comment=Take motion captures from Pico Neo 2 headset
Exec=/opt/PicoMotionshot/PicoMotionshot.sh
Icon=/opt/PicoMotionshot/Icon.png
Terminal=false
Type=Application
Categories=Development
 
